* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.player {
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.album-art img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.song-info h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.song-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.control-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.control-btn:hover {
    color: #1DB954;
}

.progress-bar-container {
    width: 100%;
}

#progress-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: #444;
    border-radius: 10px;
    height: 8px;
    outline: none;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #1DB954;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.upload-container {
    margin-top: 20px;
}

.upload-btn {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #1ed760;
}
